@font-face {
  font-family: 'NotoSans';
  font-weight: 400;
  src: local("NotoSans Regular"), local("NotoSans-Regular"), url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype"); 
}

html {
  font-family: 'NotoSans', sans-serif;
  font-size: 1rem; 
}

body {
  line-height: 1.7;
  color: #212529;
}

code {
  color: #d63384;
}

blockquote {
  border-left: 2px solid #d63384;
}

.inline-image {
  display: inline!important;
  margin: 0!important;
}

.icon-image {
  width: 16!important;
  height: 16!important;
  display: inline!important;
  margin: 0!important;
}

.iframe-video {
    width: 100%;
    height: calc((100vw - 20vw - 40px) / (16/9));
}

.features-container {
  display: flex;
  flex-flow: row wrap;
}

.features-container > div {
    width: 50%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.features-container > div > a {
  width: 300px;
  flex-shrink: 0;
}

.btn-large {
  padding: 16px;
}

.json-schema-description:before {
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  content: "Description";
  padding-bottom: .5em;
  display: block
}

.json-schema-description:not(:last-child) {
  padding-bottom: 1.5em
}

.json-schema-properties:before {
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  content: "Properties";
  padding-bottom: .5em;
  display: block
}

.json-schema-properties:not(:last-child) {
  padding-bottom: 1.5em
}

.json-schema-properties dd:not(:last-child) {
  padding-bottom: 1em
}

.json-schema-properties dl {
  margin: 0
}

.json-schema-example:before {
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  content: "Example";
  padding-bottom: .5em;
  display: block
}

.json-schema-example:not(:last-child) {
  padding-bottom: 1.5em
}

.json-schema-array-items:before {
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  content: "Items";
  padding-bottom: .5em;
  display: block
}

.json-schema-array-items:not(:last-child) {
  padding-bottom: 1.5em
}

.json-schema-allOf-inherited:before {
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  content: "Inherited";
  padding-bottom: .5em;
  display: block
}

.json-schema-allOf-inherited:not(:last-child) {
  padding-bottom: 1.5em
}

.json-schema-allOf-inherited ul {
  padding-left: 0;
  list-style: none
}

.json-schema-anyOf>dl {
  border-left: 2px solid #a2a2a2;
  padding-left: 1em
}

.json-schema-anyOf>dl dt:not(:first-child):before {
  content: "or "
}

.json-schema-anyOf>dl dt:first-child:before {
  content: "either "
}

.json-schema-additionalProperties:before {
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  content: "Additional properties";
  padding-bottom: .5em;
  display: block
}

.json-schema-additionalProperties:not(:last-child) {
  padding-bottom: 1.5em
}

.json-inner-schema .json-schema-properties, .json-inner-schema .json-schema-array-items, .json-inner-schema .json-schema-description, .json-inner-schema .json-schema-example {
  padding-left: 1em;
  margin-top: .5em;
  padding-bottom: .5em;
  border-left: 2px solid #a2a2a2
}

.json-property-discriminator:before {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #777;
  content: "discriminator"
}

a.json-property-discriminator:before:hover, a.json-property-discriminator:before:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

.json-property-discriminator:before:empty {
  display: none
}

.btn .json-property-discriminator:before {
  position: relative;
  top: -1px
}

.json-property-discriminator:before[href]:hover, .json-property-discriminator:before[href]:focus {
  background-color: #5e5e5e
}

.json-property-required:before {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #777;
  content: "required"
}

a.json-property-required:before:hover, a.json-property-required:before:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

.json-property-required:before:empty {
  display: none
}

.btn .json-property-required:before {
  position: relative;
  top: -1px
}

.json-property-required:before[href]:hover, .json-property-required:before[href]:focus {
  background-color: #5e5e5e
}

.json-property-read-only:before {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #777;
  content: "read only"
}

a.json-property-read-only:before:hover, a.json-property-read-only:before:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

.json-property-read-only:before:empty {
  display: none
}

.btn .json-property-read-only:before {
  position: relative;
  top: -1px
}

.json-property-read-only:before[href]:hover, .json-property-read-only:before[href]:focus {
  background-color: #5e5e5e
}

.json-property-pattern {
  font-weight: lighter;
  font-size: small
}

.json-schema--regex:before, .json-schema--regex:after {
  color: #808080;
  content: '/'
}

.json-property-type {
  font-style: italic;
  font-weight: 100
}

.json-property-format {
  font-size: smaller
}

.json-property-enum {
  font-weight: lighter;
  font-size: small
}

.json-property-default-value {
  font-weight: lighter;
  font-size: small
}

.json-property-default-value:before {
  content: '(default: "'
}

.json-property-default-value:after {
  content: '")'
}

.json-property-enum-item {
  font-weight: lighter;
  font-size: small
}

.json-property-enum-item:before, .json-property-enum-item:after {
  content: "\""
}

.json-schema--reference {
  font-size: 90%
}

.tutorial-item {
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1em;

}

.tutorial-item-img {
  flex: 45%;
}

.tutorial-item-content {
  padding-top: 25px;
  flex: 45%;
}

.tutorial-item-content .thumbnail {
  display: inline!important;
  margin: 0!important;
  width: 25%;
}

@media (max-width: 600px) {
  .tutorial-item-img {
    flex: 1 1 auto;
  }
  .tutorial-item-content {
    flex: 1 1 auto;
  }
}

.tutorial-list > .tutorial-item::before {
  content: "";
  background-color:  #C9C9C9;
  height: 1px;
  width: 100%;
}

.tutorial-list > .tutorial-item:first-of-type::before {
  height: 0;  
}

/*
New landing page
*/

.landing-features-container {
  margin-top: 5rem;
}

.landing-features .slick-track {
    display: flex !important;
}

.landing-features .slick-slide {
    display: flex!important;
    flex-direction: column;
    align-items: center;
    height: inherit !important;
}

.landing-features .slick-slide h2 {
  opacity: 0;
  transition: opacity 1s;
}

.landing-features .slick-slide .feature-title {
  flex-grow: 1;
  width: 94%;
  max-width: 1306px;
  background-size: cover;
}

.landing-features .slick-slide .feature-description {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 60px;
  text-align: justify;
}

@media screen and (max-width: 600px){
  .landing-features .slick-slide .feature-description {
    padding-left: 0;
    padding-right: 0;
  }
}

.landing-features .slick-slide span {
  opacity: 0;
  flex-grow: 1;
  transition: opacity 1s;
}

.landing-features .slick-active h2 {
  opacity: 1;
}

.landing-features .slick-active span {
  opacity: 1;
}

.landing-features .slick-slide iframe {
  width: 100%;
  margin: 3rem auto;
  height: 54%;
}

.landing-page-credits {
  margin-top: 30rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.landing-page-credits-funding img {
  height: 6rem;
}

.landing-page-try {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.landing-page-try ol {
  font-size: 2em;
  font-size: 2vw;
  list-style: none;
}

.landing-page-try ol li {
  margin-top: 1em;
  margin-top: 3vh;
  counter-increment: landing-page-try;
}

.landing-page-try ol li::before {
  content: counter(landing-page-try);
  color: #5cb85c;
  margin-top: 1.5em;
  margin-right: 1em;
}

.landing-page-contact {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.landing-page-contact center {
  margin-top: 4rem;
}

/*
Download page
*/

.download-panel {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #C9C9C9;
  border-radius: 4px;
}

.download-panel-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}

.download-panel-selection input {
  display: none;
}

.download-panel-selection label {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #4cae4c;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  transition: background-color 0.5s;
}

.download-panel-selection input:checked + label {
    background-color: #5cb85c;
    color: #fff;
}

.download-panel dt {
  margin-top: 0.5rem;
}

.download-panel dd {
  margin-bottom: 0.5rem;
}

/*
Examples page
*/

.examples {
  display: grid;
  grid-template-columns: fit-content(20vw) 1fr;
  margin-top: 1em;
  row-gap: 10px;
}

.example-item-thumbnail {
  width: 20vw;
  height: 100%;
  max-width: none!important;
  margin: 0!important;
  background-size: cover;
  background-position: center;
  border: 1px solid #C9C9C9;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}

.example-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #C9C9C9;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  padding: 10px;
}

.example-item-content > h2 {
  margin: 0!important;
  margin-bottom: 0.5em!important;
}

.example-item-buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.example-item-buttons > * {
  margin-left: 10px;
}

.example-item-description {
  flex-grow: 1;
}

.example-item-tag::before {
  color: rgb(209, 209, 209);
  content: "#"
}

.example-item-tags {
  margin-bottom: 1em;
}

.example-item-tag {
  color: #aaa;
  padding: 2px;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 3px;
}

@media (max-width: 1280px) {
  .example-item-buttons {
    flex-direction: column;
  }
  .example-item-buttons > * {
    margin: 4px;
  }
}

@keyframes logo-land {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}

@keyframes slogan-land {
  0% {
    opacity: 0;
    transform: scale(1.0);
  }
  10% {
    opacity: 0;
    transform: scale(1.0);
  }
  50% {
    opacity: 1;
    transform: scale(1.0);
  }
  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}


.jipipe-logo-index {
  max-width: 600px;
  opacity: 0;
  transform: scale(1.5);
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-name: logo-land;
}

.jipipe-slogan-index {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  font-size: 3em;
  font-size: min(4vw,3em);
  white-space: nowrap;
  color: #4d4d4d;
  opacity: 0;
  transform: scale(1.5);
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-name: slogan-land;
}

.button-row {
  display: flex; 
  justify-content: center;
  gap: 1em; 
  margin-top: 4rem;
  flex-wrap: wrap;
}

div.notices.info {
  border-top: 30px solid #7eb7f1;
  background: #f5fafe;
  color: rgba(38, 94, 150, 0.995) !important;
}

.jipipe-info {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

.jipipe-info-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #C9C9C9;
  border-radius: 3px;
  padding: 0.5em;
}

.jipipe-info .jipipe-info-short-text {
  font-weight: bold;
}

.jipipe-info .jipipe-info-text {
  margin-left: 10px;
}

.jipipe-info .jipipe-info-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #C9C9C9;
}

.jipipe-info .jipipe-info-logo img {
  width: 64px!important;
  height: 64px!important;
  margin: 0 10px 0 10px!important;
}

.extension-info {
  display: flex;
}

.extension-info-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #C9C9C9;
  border-radius: 3px;
  padding: 0.5em;
}

.extension-info .extension-info-short-text {
  font-weight: bold;
  margin: 10px;
}

.extension-info .extension-info-text {
  margin-left: 10px;
}

.extension-info .extension-info-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-right: 1px solid #C9C9C9;
}

.extension-info .extension-info-logo img {
  width: 64px!important;
  height: 64px!important;
  margin: 0 10px 0 10px!important;
}

.toc {
  border-left: 1px solid #C9C9C9;
  padding: 0.5em;
  margin-bottom: 4em;
}

.toc h2 {
  margin: 0!important;
}

.toc ul {
  list-style: none;
}

.toc li {
}

.text-icon {
  text-transform: uppercase;
  font-weight: bold;
  padding: 3px;
  margin: 1px;
  border-radius: 3px;
  font-size: 12px;
}

.text-icon-improved {
  background: #7eb7f1;
  color: white;
}

.text-icon-info {
  background: #7ecdf1;
  color: white;
}

.text-icon-new {
  background: #2ec27e;
  color: white;
}

.text-icon-fixed {
  background: #57e389;
  color: white;
}

.text-icon-deprecated {
  background: #ed333b;
  color: white;
}

.text-icon-removed {
  background: #ed333b;
  color: white;
}

.text-icon-issue {
  background: #edbb33;
  color: white;
}

ul.children {
  border: 1px solid #C9C9C9;
  border-left: 10px solid #C9C9C9;
  border-radius: 3px;
}

ul.children p {
  margin: 0;
  font-size: 0.9rem;
  color: #5a5a5a;
}

ul.children li {
  list-style: none;
}

ul.children li::before {
  content: "";
  display: block;
  background-color:  #C9C9C9;
  height: 1px;
  margin-left: -1.5em;
  margin-right: -1.5em;
}

ul.children li:first-of-type::before {
  height: 0;
}

.link-box {
  border: 1px solid #C9C9C9;
  border-left: 10px solid #C9C9C9;
  border-radius: 3px;
}

.link-box .link-description {
  font-size: 0.9rem;
  color: #5a5a5a;
}

.link-box .link {
  padding-left: 1.5em;
  border-top: 1px solid #C9C9C9;
}

.link-box .link:first-of-type {
  border: none;
}