.*
!.gitignore
target
/jipipe.properties.json
/jars/
/dist/jipipe-linux-installer/AppDir/
/dist/jipipe-linux-installer/jdk-11.0.8+10/
/dist/jipipe-linux-installer/appimagetool-x86_64.AppImage
/dist/jipipe-linux-installer/jipipe-installer-x86_64.AppImage
/dist/jipipe-windows-installer/fiji-win64.zip
/dist/jipipe-windows-installer/Fiji.app/
/dist/jipipe-windows-installer/dependencies/
/dist/zip/package/
/dist/zip/dependencies/
/dist/zip/*.zip
/dist/jipipe-windows-installer/JIPipe-2021.3-Setup.exe
